<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card cardTitle="快速功能選單" baCardClass="with-scroll">
        <div class="row clearfix">
          <div class="kameleon-row" *ngFor="let functionIcon of functions">
            <div class="kameleon-icon with-round-bg {{ functionIcon.color }}" routerLink="{{functionIcon.path}}">
              <img src="{{ ( functionIcon.img | baKameleonPicture ) }}">
              <span>{{ functionIcon.name }}</span>
            </div>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

</div>