<div class="widgets">

    <div class="row">
      <div class="col-md-6">
        <ba-card cardTitle="快速功能選單" baCardClass="with-scroll">
          <div class="row clearfix">
            <div class="kameleon-row" *ngFor="let icon of icons.kameleonRoundedIcons">
              <div class="kameleon-icon with-round-bg {{ icon.color }}" routerLink="{{icon.path}}"><img src="{{ ( icon.img | baKameleonPicture ) }}"><span>{{ icon.name }}</span></div>
            </div>
          </div>
        </ba-card>
      </div>
    </div>
  
  </div>
  