<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <ba-card baCardClass="with-scroll">
        <div class="col-sm-4 col-6">
          <button type="button" class="btn btn-success btn-lg" (click)="sendMessage('test');">推播測試</button>
        </div>
      </ba-card>
    </div>
  </div>

  <div *ngFor="let message of messages">
    <div class="widgets">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group" *ngIf="message.action === undefined">
            <label>{{message.content}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="form-group has-error">
      <alert></alert>
    </div>
  </div>

</div>