<div class="col-md-6">
    <ba-card cardTitle="企業整批上傳" baCardClass="with-scroll">
        <div class="input-group">
            <input type="text" placeholder="{{selectFileName}}" readonly >
            <span class="input-group-btn">
              <input style="display:none" type="file" (change)="onFileSelect($event);" accept=".csv,.txt,.json" #fileInput >
              <button class="btn btn-success" type="button" (click)="fileInput.click()">Browse</button>
            </span>
        </div>
    </ba-card>
    <alert></alert>
    <button class="btn btn-success" type="button" (click)="onUpload();">Upload</button>
</div>