<div class="widgets">

    <div class="row">
      <div class="col-md-6">
        <ba-card baCardClass="with-scroll">
            <div class="col-sm-4 col-6">
                <button type="button" class="btn btn-success btn-lg" (click)="onTestBatch();">批次測試</button>
              </div>
        </ba-card>
      </div>

    </div>

    <div>
        <div class="form-group has-error">
            <textarea class="form-control" disabled="true">{{responseMsg}}</textarea>
          </div>
    </div>
  
  </div>
  